receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317

exporters:
  otlphttp:
    endpoint: "http://loki:3100/otlp"
  debug:
  prometheus:
    endpoint: "otel-collector:9090"

service:
  pipelines:
    traces:
      receivers: [ otlp ]
      exporters: [ debug ]
    logs:
      receivers: [ otlp ]
      exporters: [ debug, otlphttp ]
    metrics:
      receivers: [ otlp ]
      exporters: [ prometheus ]
